# Python
__pycache__/
*.py[cod]
*.so
.venv/
env/
*.egg-info/
.eggs/
.Python
.ipynb_checkpoints/
# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# OS
.DS_Store
Thumbs.db
# Logs & Output
logs/
reports/
*.log
*.sqlite
*.db
data/
models/
wordlists/
output/
*.tmp
# Secrets
*.key
*.pem
.env
# Jupyter
*.ipynb
# Docker
docker-compose.override.yml
checkpoints/e830a838-3eff-45ca-9b22-3c7daa0ec0c8/d2c42cc6b98064ed.json.gz
quick_crash_fix.py
